<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app='TimerApp'> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>HoE timekeeper</title>


	<link rel="stylesheet" href="css/foundation.css">
	<!-- <link rel="stylesheet" href="css/icons.css"> -->

	<script src="js/vendor/custom.modernizr.js"></script>

</head>
<body ng-controller="TimeCtrl" style='background: pink;'>
	<nav class="top-bar">
		<ul class="title-area">
			<!-- Title Area -->
			<li class="name">
				<h1><a href="#">HoE timekeeper </a></h1>
			</li>
			<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>

		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				<li><a ng-click="">Pink version</a></li>

				<li class="divider hide-for-small"></li>
				<li><a href="http://www.heart-of-europe.org/web/" target='_tab'>HoE websites</a></li>
				<li><a href="https://twitter.com/HeartofEuropeDT" target='_tab'>HoE twitter</a></li>
				<li class="divider hide-for-small"></li>
				<li><a href="https://github.com/Visgean/debatetime" target='_tab'>Source @ github</a></li>
			</ul>
		</section></nav>



		<div class="row">
			<div class="large-3 columns hide-for-small">
				<table>
					<thead>
						<tr>
							<th>Speaker</th>
							<th>Time</th>
							<th>Length</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="speech in speeches">
							<td>
								<strong ng-show="$index==current_index">{{speech.speaker}}</strong>
								<span ng-hide="$index==current_index">{{speech.speaker}}</span>
							</td>
								<td>{{speech.speech_length/60}}m</td>
								<td><span ng-show="$index<current_index">{{speech.real_length_m}}m {{speech.real_length_s}}s</span></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div style='text-align: center;'>
					<div class="large-5 large-centered columns"><h3>{{current_speech.speaker}}</h3></div>
					<div class="large-3 large-centered columns">
						<h1 id='timeholder'>{{time_left_m }}:{{time_left_s|digits }}</h1>
						<div class="progress success"><span class="meter" style="width: {{progress}}%"></span></div>
						<a ng-click="Pause();" class="large button expand" ng-class="{true:'alert', false:'success'}[running]"><span ng-show="running">Pause</span><span ng-hide="running">Start</span></a><br>
						<a ng-click="NextSpeaker();" class="large button expand">Next Speaker</a>
					</div>
				</div>
			</div>





			<script>
			document.write('<script src=' +
				('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
				'.js><\/script>')
			</script>

			<script src="js/foundation.min.js"></script>
			<script src="js/angular.min.js"></script>
			<script src="js/controller.js"></script>

			<script>
			$(document).foundation();
			</script>
		</body>
		</html>
