<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app='TimerApp'> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>HoE timekeeper</title>


	<link rel="stylesheet" href="css/foundation.css">
	<!-- <link rel="stylesheet" href="css/icons.css"> -->

	<script src="js/vendor/custom.modernizr.js"></script>

</head>
<body ng-controller="TimeCtrl" style="background-color: {{bg_color}};">
	<nav class="top-bar">
		<ul class="title-area">
			<!-- Title Area -->
			<li class="name">
				<h1><a href="#">HoE timekeeper </a></h1>
			</li>
			<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>

		<section class="top-bar-section">
			<ul class="left">

				<li class="divider hide-for-small"></li>
				<li class="hide-for-small"><a href="http://www.heart-of-europe.org/web/" target='_tab'>website</a></li>
				<li class="divider hide-for-small"></li>
				<li class="hide-for-small"><a href="https://twitter.com/HeartofEuropeDT" target='_tab'>twitter</a></li>
			</ul>
			<ul class="right">
				<li class="has-dropdown"><a href="#">Barvicky</a>
			      	<ul class="dropdown">
			      		<li><a ng-click="go_pink('pink')">Pink</a></li>
	      				<li><a ng-click="go_pink('brown')">Brown</a></li>
	      				<li><a ng-click="go_pink('black')">Black</a></li>
	      				<li><a ng-click="go_pink('white')">White</a></li>
	      			</ul>
	      		</li>
				<li class="divider hide-for-small"></li>
				<li><a href="https://github.com/Visgean/debatetime" target='_tab'>Source @ github</a></li>
				<li class="divider hide-for-small"></li>
				<li><a href="http://www.sphaera.cz/" target='_tab'>Created by Sphaera</a></li>
			</ul>
		</section></nav>



		<div class="row">
			<div class="small-2 large-4 columns hide-for-small">
				<table>
					<thead>
						<tr>
							<th>Speaker</th>
							<th>Time</th>
							<th>Length</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="speech in speeches">
							<td>
								<strong ng-show="$index==current_index">{{speech.speaker}}</strong>
								<span ng-hide="$index==current_index">{{speech.speaker}}</span>
							</td>
							<td>
								{{speech.speech_length/60}}m
							</td>
							<td>
								<span ng-show="$index<current_index">{{speech.real_length_m}}m {{speech.real_length_s}}s</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="large-4 large-4 columns" style='text-align: center;'>
				<h3>{{current_speech.speaker_full}}</h3>
				<h1 id='timeholder' style='font-size:66px;'>{{time_left_m }}:{{time_left_s|digits }}</h1>
				<div class="progress success"><span class="meter" style="width: {{progress}}%"></span></div>
				<a ng-click="Pause();" class="large button expand" ng-class="{true:'alert', false:'success'}[running]"><span ng-show="running">Pause</span><span ng-hide="running">Continue</span></a><br>
				<a ng-click="NextSpeaker();" class="large button expand">Next Speaker</a>
			</div>


			<div class="large-3 columns">
				<table>
					<thead>
						<tr>
							<th>Event</th>
							<th width="800"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="event in current_speech.events" ng-show="(time_left - event.time_from_end)>0">
							<td>
								<span >{{event.name}}</span>
							</td>
							<td>
								<div class="progress"><span class="meter" style="width: {{((time_left - event.time_from_end)/(current_speech.speech_length-event.time_from_end))*100}}%"></span></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<div id="final_modal" class="reveal-modal">
		  <h2>Debate is over now.</h2>
		  <p class="lead">Please have a look at the data, they disapears after you click on the button bellow.</p>
		  <table>
				<thead>
					<tr>
						<th width="400">Speaker</th>
						<th width="400">Maximal Time</th>
						<th width="400">Speech time</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="speech in speeches">
						<td>
							{{speech.speaker_full}}
						</td>
						<td>
							{{speech.speech_length/60}}m
						</td>
						<td>
							{{speech.real_length_m}}m {{speech.real_length_s}}s
						</td>
					</tr>
				</tbody>
			</table>

		<a ng-click="CloseFinalModal();" class="large button expand">New debate</a>
		<a ng-click="CloseFinalModal();" class="close-reveal-modal">&#215;</a>
		</div>



		<script>
		document.write('<script src=' +
			('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
			'.js><\/script>')
		</script>

		<script src="js/foundation.min.js"></script>
		<script src="js/foundation/foundation.reveal.js"></script>

		<script src="js/angular.min.js"></script>
		<script src="js/controller.js"></script>

		<script>
		$(document).foundation();
		</script>
	</body>
</html>
